<%- include('navigation') %>

<div class="brown container-fluid bground">
    <div class="row">
      <div class="light-brown border-black col-md-2 bground">
        <h4 class = "mt-4">Filters</h4>
        <form id="filters" action="/filter" method="POST">
          <input class="form-control mb-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search">
          <div class="mb-3">
            <label class="form-label">Category (Select One)</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="food" name="Food">
                <label class="form-check-label" for="Food">Food</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="activity" name="Activity">
                <label class="form-check-label" for="Activity">Activity</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="entertainment" name="Entertainment">
                <label class="form-check-label" for="Entertainment">Entertainment</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="other" name="Other">
                <label class="form-check-label" for="Other">Other</label>
            </div>
          </div>
          <div class="">
            <label class="form-label">Rating (Out of 5)</label>        
          </div>
          <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="one" name="one">
              <input class="form-check-input" type="checkbox" id="two" name="two">
              <input class="form-check-input" type="checkbox" id="three" name="three">
              <input class="form-check-input" type="checkbox" id="four" name="four">
              <input class="form-check-input" type="checkbox" id="five" name="five">
          </div>
          <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" id="address" class="form-control" name="address" required>
          </div>
          <button id="submit" type="submit" class="btn gray-button">Apply</button>
        </form>
      </div>
  
      <div class="col-md-9">
        <div class="container mt-3 ml-2">
          <h1 class='custom-h1'>Recommendations</h1>

          <div id="right-col">
            <div class="container mt-5 information" id="rec">
              <div class="row">
                <div class="col-md-4">
                  <!-- Picture -->
                  <img src="/image.jpeg" class="img-fluid rounded" alt="Image">
                </div>
                <div class="col-md-8">
                  <div class="address" id="address">
                    <p>123 Main Street, City, Country</p>
                  </div>
                  <!-- Title -->
                  <h2 id="title" class="mb-1">Your Title</h2>
                  <div class="star-rating">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                  </div>
                  <button id="cat" class="btn gray-button">Food</button>
                  <!-- Description -->
                  <p id="des">
                    Your description goes here. You can add multiple lines of text to describe your content.
                    Your description goes here. You can add multiple lines of text to describe your content.
                    Your description goes here. You can add multiple lines of text to describe your content.
                    Your description goes here. You can add multiple lines of text to describe your content.
                  </p>
                  <a id="link" class="btn gray-button"href="https://www.google.com" target="_blank">
                    google.com
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h1 id="information">
            <%= stringPosts%>
          </h1>
          <script src="/add-recs.js"></script>
          
        </div>
      </div>
    </div>
</div>


