<%- include('navigation') %>
<div class="brown container-fluid">
    <div class="row">
      <div class="light-brown col-md-2">
        <h4 class = "mt-4">Filters</h4>
        <ul>
          <li>Filter 1</li>
          <li>Filter 2</li>
          <li>Filter 3</li>
        </ul>
      </div>
  
      <div class="col-md-9">
        <div class="container mt-3 ml-2">
          <h1 class='custom-h1'>Recommendations</h1>
          <!-- <div class="container mt-4">
              <h1 class="mt-4 custom-h1"><%= var1%></h1>
          </div> -->

          <div id="right-col">
            <div class="container mt-5" id="rec">
              <div class="row">
                <div class="col-md-4">
                  <!-- Picture -->
                  <img src="/stock-background.jpg" class="img-fluid rounded" alt="Image">
                </div>
                <div class="col-md-8">
                  <!-- Title -->
                  <h2 class="mb-3">Your Title</h2>
            
                  <!-- Description -->
                  <p>
                    Your description goes here. You can add multiple lines of text to describe your content.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <script src="/add-recs.js"></script>
          
        </div>
      </div>
    </div>
</div>


