<%- include('navigation') %>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-light">
        <h4 class = "mt-4">Filters</h4>
        <ul>
          <li>Filter 1</li>
          <li>Filter 2</li>
          <li>Filter 3</li>
        </ul>
      </div>
  
      <div class="col-md-9">
        <h1>Recommendr</h1>
        <div class="container">
            <h1 class="mt-4 custom-h1"><%= var1%></h1>
            <h1 class="mt-4 custom-h1"><%= var2%></h1>
        </div>
      </div>
    </div>
</div>


