<nav class="navbar buttom-black light-brown">
    <div class="container-fluid">
        <a id='logoBtn' class="navbar-brand" href="/home">Recommendr</a>
        <a id='homeBtn' class="nav-link" href="/home">Home</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <a id='leaguesBtn' class="nav-link" href="/post">Post</a>
        <a id='accountBtn' class="nav-link" href="/account">Account</a>
    </div>
</nav>
