<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a id='logoBtn' class="navbar-brand" href="/">Recommendr</a>
        <a id='homeBtn' class="nav-link" href="/home">Home</a>
        <a id='exploreBtn' class="nav-link" href="/testing">Explore</a>
        <a id='leaguesBtn' class="nav-link" href="/leagues">Leagues</a>
        <a id='accountBtn' class="nav-link" href="/account"><%= button %></a>
    </div>
</nav>