<%- include('navigation') %>

<div class="container">
    <h1 class="mt-4 custom-h1">Create A Recommendation</h1>
</div>
<main class="container">
    <form id="myForm" action="/post" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" id="title" class="form-control" name="title" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" id="description" class="form-control" name="description" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Category (Select One)</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="food" name="Food">
                <label class="form-check-label" for="Food">Food</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="activity" name="Activity">
                <label class="form-check-label" for="Activity">Activity</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="entertainment" name="Entertainment">
                <label class="form-check-label" for="Entertainment">Entertainment</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="other" name="Other">
                <label class="form-check-label" for="Other">Other</label>
            </div>
        </div>
        <div class="">
            <label class="form-label">Rating (Out of 5)</label>        
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="one" name="one">
            <input class="form-check-input" type="checkbox" id="two" name="two">
            <input class="form-check-input" type="checkbox" id="three" name="three">
            <input class="form-check-input" type="checkbox" id="four" name="four">
            <input class="form-check-input" type="checkbox" id="five" name="five">
        </div>
        <div>
            <label class="form-label">Image</label>
        </div>
        <div class="mb-3">
            <input type="file" id="imageUpload" name="imageUpload" accept="image/jpeg, image/jpg, image/png" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" id="address" class="form-control" name="address" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Url</label>
            <input type="text" id="url" class="form-control" name="url" required>
        </div>
        <a href="/home"  class="btn btn-primary right-btn">Cancel</a>
        <button id="submit" type="submit" class="btn btn-primary right-btn">Submit</button>
    </form>
</main>
